.report-container {
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart {
    margin-top: 20px;
}

.winner-section {
    border: 3px solid var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}
