/* Results.css */
.results-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 960px;
}

.winner-section {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border: 2px solid #ffc107; /* Highlight the winner with a golden border */
}

.winner-image {
  max-width: 300px; /* Larger image for the winner */
  height: auto;
  margin-bottom: 10px;
}

.reset-button, .export-button {
  margin-top: 20px;
  display: block;
  width: 100%;
}
