/* UploadImages.css */

.upload-images-container {
    margin-bottom: 20px;
  }
  
  .upload-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .upload-input {
    display: none;
  }
  
  .add-button {
    margin-bottom: 10px;
  }
  
  .uploaded-images-grid {
    margin-top: 10px;
  }
  
  .uploaded-image-item {
    position: relative;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-wrapper {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    overflow: hidden;
  }
  
  .uploaded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  