.upload-container {
  padding: 20px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropzone {
  padding: 20px;
  border: 2px dashed var(--primary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.preview-grid {
  margin-top: 20px;
}

.upload-preview-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.delete-icon {
  color: var(--error-color);
  position: absolute;
  top: 0;
  right: 0;
}
