@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Shadows+Into+Light&display=swap");

.hero-main {
  background-image: url("../assets/hero-img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 60px;
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.hero-cta-card {
  font-family: "Rowdies", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  text-align: start;
  margin-right: 55vw;
  margin-bottom: 30vh;
  background: rgba(105, 8, 8, 0.411);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 20px;
}

.hero-cta-card-title-container {
  display: block;
  margin: 0px 20px;
  padding: 0;
}

.hero-cta-card-title {
  font-size: 4rem;
  font-family: "Rowdies", sans-serif;
  padding: 0px;
  text-align: left;
  color: rgb(218, 218, 218);
}

.hero-cta-card-subtitle {
  font-size: 1.8rem;
  font-family: "Rowdies", sans-serif;
  text-align: left;
  color: rgb(218, 218, 218);
}

.hero-cta-card-description {
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 500px;
  text-align: left;
  font-family: "Rowdies", sans-serif;
  font-weight: lighter;
  color: rgb(218, 218, 218);
}

.hero-cta-card-button-movie,
.hero-cta-card-button-serie {
  font-family: "Rowdies", sans-serif;
  background-color: #7e5d45;
  color: rgb(218, 218, 218);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  width: 50%;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.hero-cta-card-button-serie {
  background-color: #7e5d45;
  margin-left: 20px;
}

.hero-cta-card-button-movie:hover {
  background-color: #553f2f;
  transform: scale(1.1);
}

.hero-cta-card-button-serie:hover {
  background-color: #634a38;
  transform: scale(1.1);
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .hero-main {
    background-image: url("../assets/hero-img-vertical.png");
  }

  .hero-cta-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rowdies", "Arial Narrow", Arial, sans-serif;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 480px) {
  .hero-cta-card {
    margin-right: 0;
    margin-bottom: 0;
    scale: 0.95;
    border-radius: 30px;
  }

  .hero-cta-card-title {
    font-size: 2.5rem;
  }

  .hero-cta-card-subtitle {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }

  .hero-cta-card-description {
    font-size: 0.8rem;
  }

  .hero-cta-card-button-movie {
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .hero-cta-card-button-serie {
    width: 80%;
    margin-bottom: 33vh;
    margin-left: 0px;
  }

  .hero-cta-card-button-movie:hover {
    scale: 1.1;
  }
}
